@page
@model IndexModel
@{
}

<div class="row text-center">
    <div class="col">
        <h1>ЗАПИСНАЯ КНИЖКА</h1>
    </div>
</div>
<div class="col text-center">
    <div class="">
        <img src="~/photo/background.jpg" />
    </div>
</div>